*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

*.dist-info/
charset_normalizer/
idna/
requests/
urllib3/
soupsieve/
bs4/
certifi/
bin/
pytz/

